<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'edit_student.css' %}">
    <title>Edit Student in {{ company.name }}</title>
</head>

<body>
    <h1>Edit Student in {{ company.name }}</h1>

    <div class="container">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save Changes</button>
        </form>
        <a href="{% url 'add_student' company.id %}">Back to Student List</a>
    </div>
</body>

</html>